package pages

import (
  "templtest/views/layouts"
  "templtest/internal/entities"
)

templ Index(users []entities.User){
  @layouts.BaseLayout("Admin | Syncword"){
    <main class="w-full flex justify-center py-16">
      for _, user := range users {
        <div class="flex flex-col gap-2">
          <span>{user.Name}</span>
          <span>{user.Email}</span>
        </div>
      }
    </main>
  }
}

